<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='irrigator.css')}}">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Irrigator</title>
</head>

<body>
  <div class="container pt-2">
    {% if post %}
    <div class="row mt-2">
      <div class="col">
        {% if not post_valid %}
        <div class="alert alert-danger" role="alert">
          {{post_result}}
        </div>
        {% else %}
        <div class="alert alert-success" role="alert">
          {{post_result}}
        </div>
        {% endif %}
      </div>
    </div>
    {%endif%}

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-md">
              <h1 class="title-main">Irrigator</h1>
              </div>
              <div class="col-md  d-flex justify-content-end updated">
                Updated at {{updated}}<br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-3 g-3">
      <div class="col">
        <div class="card h-100">
          <div class="card-body p-4">

            <div class="d-flex">
              <h6 class="flex-grow-1 card-title">
              <i class="fa fa-cloud-sun-rain"></i>
              Weather</h6>
            </div>

            <div class="d-flex justify-content-center mt-5 mb-4">
                <div class="d-flex flex-column align-items-left">
              <h6 class="display-6 mb-2 font-weight-bold" style="color: #1C2331;">
                <i class="fas fa-thermometer-half ms-3"></i>
               {{'%.1f' % temperature}}&#176;C</h6>
              <h6 class="display-6 mb-0 font-weight-bold" style="color: #1C2331;">
                <i class="fas fa-tint fa-fw" style="color: #5074b6;"></i> 
                {{'%.0f' % humidity}}%
                  </h6>
                </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body p-4">

            <div class="d-flex">
              <h6 class="flex-grow-1 card-title">
              <i class="fas fa-car-battery"></i>
              Battery</h6>
            </div>

            <div class="d-flex flex-column text-center mt-5 mb-4">
              <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> {{'%.1f' % vbat}} V</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body p-4">

            <div class="d-flex">
              <h6 class="flex-grow-1 card-title">
              <i class="fas fa-water"></i>
              Irrigation Control</h6>
            </div>

            <div class="d-flex flex-column text-center mt-3 mb-4">
              <h6 class="display-6 mb-0 font-weight-bold" style="color: #1C2331;">Pump: {{"On" if pump else "Off"}}</h6>
              <h6 class="display-6 mb-0 font-weight-bold" style="color: #1C2331;">Valve: {{"On" if valve else "Off"}}</h6>
              <h6 class="mt-3 status">{{status}}</h6>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row py-3">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">
          <h2 class="title-colour">Settings</h2>
            <form method="POST">
              <div class="mb-3">
                <label for="frequency" class="form-label">Frequency</label>
                <select class="form-control" id="frequency" name="frequency">
                  {% macro option(value, label, post_value) %}
                  <option value="{{value}}" {{ "selected" if value==post_value }}>{{label}}</option>
                  {% endmacro %}
                  {{ option("off", "Off", _frequency) }}
                  {{ option("once", "Once", frequency) }}
                  {{ option("daily", "Daily", frequency) }}
                  {{ option("every2days", "Every 2 days", frequency) }}
                  {{ option("every3days", "Every 3 days", frequency) }}
                </select>
              </div>
              <div class="mb-3" style="display: {{ 'none' if frequency == 'off' else 'block'}}">
                <label for="time" class="form-label">Time</label>
                <input type="time" step="60" class="form-control" id="time" name="time" value="{{time}}">
              </div>
              <div class="mb-3" style="display: {{ 'none' if frequency == 'off' else 'block'}}">
                <label for="runtime" class="form-label">Duration</label>
                <input type="number" step="1" class="form-control" id="runtime" name="runtime" value="{{runtime}}">
              </div>
              <button type="submit" class="btn btn-secondary">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>

</body>

<script>
  window.onload = function () {
    var frequencySelect = document.getElementById('frequency');
    var timeInput = document.getElementById('time');
    var runtimeInput = document.getElementById('runtime');

    function toggleInputs() {
      var isOff = frequencySelect.value === 'off';
      timeInput.parentElement.style.display = isOff ? 'none' : 'block';
      runtimeInput.parentElement.style.display = isOff ? 'none' : 'block';
    }

    frequencySelect.onchange = toggleInputs;
    toggleInputs();  // Set initial visibility
  };
</script>

</html>